.login-div {
    height: 100vh;
    width: 100%;
    background-image: url('../../../Carousel-images/Login-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.form-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h2{
     font-family: "Oxanium", sans-serif;
     text-align: center;
     margin: 8px 0;
}
.form-div form label{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.04rem;
}
.form-div form input{
   border:  2px solid rgba(255, 255, 255, .2);
   background: transparent;
   padding: 5px 10px;
   color: #FFFFFF;
   border-radius: 8px;
   transition: border .3s ease-in-out;
}
.form-div form input:hover {
    border: 2px solid #6a79fa;
}



